# Android build products
bin/
gen/
obj/

# test products
junit-report.xml

# only hide in library project, not test/ project
/libs/
/res/

# products of "android create project" or "android update project"
build.xml
local.properties
proguard-project.txt
proguard.cfg

# emacs detritus
*~

# Eclipse detritus
.settings

# Mac OS X detritus
.DS_Store
